name: Report Test Summary

permissions:
  pull-requests: write
  contents: read

on: [ pull_request ]

jobs:
  summarize:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        id: checkout-code
        uses: actions/checkout@v4

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        id: install-dependencies
        run: uv sync

      - name: Run tests
        run: |
          cd tests
          uv run pytest test_dummy.py -m test_pass -s -v --better-report --fail2skip --maxfail-streak=3 --pr-number=${{ github.event.pull_request.number }}
          PYTEST_EXIT_CODE=$?
          set -e
        continue-on-error: true

      - name: Run test summary and generate markdown
        run: |
          cd scripts
          uv run summarize_tests.py $GITHUB_SHA

      - name: Upload test summary artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-summary
          path: reports/test_summary.md

      - name: New comment summary on PR
        uses: thollander/actions-comment-pull-request@v2
        with:
          filePath: scripts/reports/test_summary.md

      - name: Fail job if tests failed
        run: |
          cd scripts
          uv run check_status_tests.py
